.App{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
input[type="date"]{
    background-color: white;
    padding: 15px;
    position: absolute;
    font-family: "Roboto Mono",monospace;
    color: #212121;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: #C9C9C9 solid 0.1px;
}

::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    border: #757575;
}

img:hover + input[type="file"] {
    display: block;
}

.css-anh {
    border-radius: 8px;
    padding: 20px;
}
.css {
    border-radius: 8px;
}
.css:hover {
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgb(245, 242, 242);
}

.css-anh:hover {
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgb(245, 242, 242);
}

.css-header {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 15px;
    border-bottom: 1px dashed #8a94ad;
}

.css-anh2 {
    padding-top: 20px;
    padding-left: 130px;
    width: 120px;
}

.css-name {
    font-size: 13px;
    font-weight: 400;
    color: rgb(105, 117, 134);
    font-family: Roboto, sans-serif;
    padding-left: 76px;
    padding-top: 30px;
}

.css-upload {
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.css-save {
    padding-left: 40px;
    padding-top: 15px;
}

.css-anh-detail {
    width: 220px;
    height: 200px;
    padding-top: 7px;
    border-radius: 50%;
    padding-bottom: 12px;
}

.css-detail-tt {
    padding-left: 70px;
}

.css-sdt {
    margin-top: 10px;
}

.css-table-detail {
    padding-top: 20px;
}

.css-cham {
    padding-right: 80px;
    padding-left: 80px;
}

.css-tbody-detail {
    margin-bottom: 10px;
}
.css-tgian-detail{
    font-size: 14px;
    color: #3e465b;
    margin-top: 5px;
}
.css-border-anh-ten{
    border-bottom: 1px dashed #8a94ad;
}
.css-anh-hang-vang{
    margin-left: 100px;
    width: 80px;
}
.css-dia-chi{
    border-bottom: 1px dashed #8a94ad;
}
.css-header-dia-chi{
    padding-bottom: 23px;
    padding-top: 5px;
    padding-left: 15px;
    border-bottom: 1px dashed #8a94ad;
}
.css-detail-thong-ke{
    border-radius: 8px;
    height: 150px;
    margin-bottom: 35px;
    border-left: 10px solid rgb(216, 67, 21);
    border-top-color: rgb(216, 67, 21);
    border-right-color: rgb(216, 67, 21);
    border-bottom-color: rgb(216, 67, 21);
    background: rgb(251, 233, 231);
}
.css-detail-thong-ke1{
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 400;
}
.css-detail-thong-ke2{
    padding-left: 30px;
    font-size: 25px;
    font-weight: 800;
}
.css-detail-thong-ke3{
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    font-weight: bolder;
}
.css-detail-thong-kee{
    border-radius: 8px;
    height: 150px;
    margin-bottom: 35px;
    border-left: 10px solid rgb(255, 193, 7);
    border-top-color: rgb(255, 193, 7);
    border-right-color: rgb(255, 193, 7);
    border-bottom-color: rgb(255, 193, 7);
    background: rgb(255, 248, 225);
}
.css-detail-thong-keee{
    border-radius: 8px;
    height: 150px;
    margin-bottom: 35px;
    border-left: 10px solid rgb(0, 200, 83);
    border-top-color: rgb(0, 200, 83);
    border-right-color: rgb(0, 200, 83);
    border-bottom-color: rgb(0, 200, 83);
    background: rgb(185, 246, 202);
}